*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Arial, Helvetica, sans-serif;

}

body{

background:#f7eee8;

color:#3a2a24;

}

/* HEADER */

header{

background:#8c5a3c;

padding:20px;

display:flex;

justify-content:space-between;

align-items:center;

flex-wrap:wrap;

}

header h1{

color:white;

}

nav a{

margin-left:20px;

text-decoration:none;

color:white;

font-weight:bold;

}

nav a:hover{

opacity:0.7;

}

/* HOME */

.home{

padding:100px 20px;

background:linear-gradient(#f2e3da,#e5c7b5);

}

.home-container{

display:flex;

justify-content:center;

align-items:center;

gap:40px;

flex-wrap:wrap;

}

.home-text{

max-width:500px;

}

.home-text h2{

font-size:40px;

color:#8c5a3c;

}

.destaque{

font-size:20px;

margin:20px 0;

}

/* FOTO */

.home-foto img{

width:230px;

border-radius:50%;

border:6px solid #c89a7b;

box-shadow:0 10px 25px rgba(0,0,0,0.2);

}

/* BOTÃO */

.botao{

background:#b8734c;

color:white;

padding:12px 25px;

border-radius:6px;

text-decoration:none;

font-weight:bold;

}

.botao:hover{

background:#8c5a3c;

}

/* SEÇÕES */

section{

padding:70px 20px;

text-align:center;

}

h2{

margin-bottom:30px;

color:#8c5a3c;

}

/* SOBRE */

#sobre p{

max-width:700px;

margin:10px auto;

line-height:1.6;

}

.info{

display:flex;

justify-content:center;

gap:20px;

flex-wrap:wrap;

margin-top:30px;

}

.info-card{

background:white;

padding:20px;

width:200px;

border-radius:10px;

box-shadow:0 5px 15px rgba(0,0,0,0.1);

}

/* SKILLS */

.skills{

max-width:500px;

margin:auto;

}

.skill{

margin:20px 0;

text-align:left;

}

.barra{

background:#e5c7b5;

height:10px;

border-radius:5px;

}

.nivel{

height:10px;

border-radius:5px;

}

.html{

width:90%;

background:#b8734c;

}

.css{

width:80%;

background:#c89a7b;

}

/* PROJETOS */

.projetos{

display:flex;

justify-content:center;

gap:20px;

flex-wrap:wrap;

}

.card{

background:white;

padding:25px;

width:300px;

border-radius:10px;

box-shadow:0 5px 15px rgba(0,0,0,0.1);

transition:0.3s;

}

.card:hover{

transform:translateY(-6px);

}

/* CONTATO */

#contato p{

font-size:18px;

margin:10px;

}

/* FOOTER */

footer{

background:#8c5a3c;

color:white;

padding:15px;

margin-top:40px;

}
 